<header>
    <div class="cabecera">
        <h1><b>IMPRENTA plap</b></h1>
    </div>
    <navbar class="NAV">
        <ul>
            <li><a href="/index"><i class="fa-solid fa-house boton"></i></a></li>
            <li><a href="/adminUser" class="boton">USUARIOS</a></li>
            <li><a href="/adminProducts" class="boton">PRODUCTOS</a></li>
        </ul>
    </navbar>
</header>