<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/headPage') %>
</head>
<body>

    <%- include('../partials/headerPage') %>

    <body>
        <div class="row form formulario">
            <div class="col-md-6 item_form"><input class="form-control" type="text" placeholder="Nombre"></div>
            <div class="col-md-6 item_form"><input class="form-control" type="text" placeholder="Apellido"></div>
            <div class="col-md-6 item_form"><input class="form-control" type="email" placeholder="Email"></div>
            <div class="col-md-6 item_form"><input class="form-control" type="text" placeholder="Telefono"></div>
            <div class="col-md-6 item_form"><input class="form-control" type="text" placeholder="Direccion"></div>
            <div class="col-md-6 item_form"><input class="form-control" type="text" placeholder="Duda/Consulta"></div>
            <div class="col-md-6 item_form"><input type="submit" value="Enviar"></div>
        </div>
    </body>

    <footer>
        <%- include('../partials/footerPage') %>
    </footer>
    <script src="js/validation2.js"></script>
</body>
</html>