<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/headPage') %>
</head>
<body>

    <%- include('../partials/headerPage', {esadmin: esadmin}) %>
    
    <div class="main_text">
        <h3>
            Mas de 20 años haciendo lo mejor para la gente
        </h3>
        <img src="img/Frenteimp.png" alt="">
    </div>
    <div class="back_main_text">
        <div class="target">
            <div class="card bmt">
                <h4>Nuestros Productos</h4>
                <div class="card-body">
                    <a href="/products" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
    <%- include('../partials/footerPage') %>
    </footer>
    <script src="js/validation2.js"></script>
</body>
</html>