<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/headPage') %>
</head>
<body>

    <%- include('../partials/headerPage')%>

    <table>
        <thead>
            <tr>
                <th>MAIL</th>
                <th>DIRECCION</th>
                <th>TELEFONO</th>
                <th>CONTRASEÑA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>camiloposik@hotmail.com</td>
                <td>necochea 145</td>
                <td>2346 501380</td>
                <td>Avenida Siempre Viva 742</td>
            </tr>
        </tbody>
    </table>
    <div class="perf_img">
        <div><img src="img/20220525_000016.jpg" alt=""></div>
        <div><button>Cambiar</button></div>
    </div>

    <footer>
        <%- include('../partials/footerPage') %>
    </footer>
    <script src="js/validation2.js"></script>
</body>
</html>